:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--vdk-bl-mbg: hsl(217, 54%, 11%);
	--vdk-bl-cbg: hsl(216, 50%, 16%);
	--Vdk-bl-lin: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}
